/* input {
  background-color: rgba(255, 255, 255, 0.496);
  width: 30%;
  max-width: 25rem;
  padding: 1rem 1rem;
  border-radius: 8px;
  height: 2.5rem;
  display: flex;
  align-items: center;
  border: 2px solid rgb (63, 63, 63);
  justify-content: center;
  gap: 8px;
} */

input {
  /* background: transparent; */
  /* color: white; */
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 0;
  height: 1.5rem;
  /* width: 80%; */
  font-size: 17px;
}

.submitBtn {
  border-radius: 8px;
  font-size: 17px;
  border: 2px solid rgb (63, 63, 63);
  color: white;
  background: rgba(0, 0, 0, 0.59);
  background-color: rgba(255, 255, 255, 0.496);
  /* width: 122px;
  height: 30px;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #fff;
  font-size: 17px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative; */
  cursor: pointer;
}
